@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  /* color */
  --green: #206A5D;
  --text-black: #3F5059;
  --bg-grey: #F3F5F7;
  --grey: #9AACB5;
  --white: #FFFFFF;
  /* font size */
  --title: 36px;
  --heading: 40px;
  --sub-heading: 24px;
  --form-label:22px;
  --sidebar: 20px;
  --normal: 18px;
  /* font weight */
  --medium: 500;
  --bold: 700;
  /* widths */
  --sidebar-width: 257px;
  --content-margin: 90px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: #333;
}

.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  padding: 40px 0px;
  box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.07);
}
.sidebar h1 {
  font-weight: var(--medium);
  font-size: var(--title);
  color: var(--green);
}

.info {
  margin: 29px auto 35px;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-weight: var(--medium);
  font-size: var(--sidebar);
}

.tabs {
  font-weight: var(--medium);
  font-size: var(--sidebar);
}
.tab {
  text-decoration: none;
  width: 100%;
  margin: 15px 0;
  display: block;
  display: flex;
  align-items: center;
}
.vertical-line {
  /* width: 4px; */
  border-left: 4px solid var(--green);
  height: 50px;
  float: left;
}
.tab img {
  width: 25px;
  height: auto;
  color: black;
  margin-left: 40px;
}
.tab-name {
  margin-left: 10px;
}
.logout-button {
  margin-top: 37vh;
}
.logout-text {
  font-weight: var(--medium);
  font-size: var(--sidebar);
  color: var(--green);
  /* float: left; */
}
.logout-button img {
  /* float: left; */
}

.content {
  margin-left: var(--sidebar-width);
  padding: 63px 90px;
  text-align: center;
  height: 100vh;
  background-color: var(--bg-grey);
  /* text-align: left; */
}
/* inventory */
.inventory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: absolute; */
}
.inventory-heading {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  position: absolute;
  clear: both;
}
.inventory h1 {
  font-weight: var(--medium);
  font-size: var(--heading);
  color: var(--text-black);

  position: static;
  /* flex: none;
order: 0;
flex-grow: 0; */
/* margin: 0px 18px; */
}
.search {
  position: static;
  width: 30px;
  height: auto;
  margin: 14px 37px;
}
.above-line {
  position: relative;
  top: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.above-line h2 {
  font-weight: var(--medium);
  font-size: var(--sub-heading);
  color: var(--text-black);
}

.button {
  font-weight: var(--bold);
  font-size: var(--normal);
  padding: 10px 15px;
  background-color: var(--green);
  border-radius: 25px;
  color: var(--white);
}

.horizontal-line{
  position: relative;
  top: 95px;
  height: 1px;
  width: 100%;
  background-color: var(--grey);
}
.inventory-content {
  position: relative;
  top: 150px;
}
/* Space */
.space {
  position: relative;
}
.space .button {
  position: absolute;
  top: 15px;
  left: -25px;
}
.cover-photo {
  width: 295px;
  height: 183px;
}
.cover-photo img {
  width: 295px;
  height: 183px;
  object-fit: cover;
}
.space-details {
  padding: 20px 0;
  background-color: var(--white);
}
.space-name {
  font-weight: var(--medium);
  font-size: var(--sub-heading);
  color: var(--text-black);
}
.num-plants {
  font-weight: var(--medium);
  font-size: var(--normal);
  color: var(--text-black);
  margin: 5px 0;
}